<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yyl.mapper.TraceLabelMapper">

    <insert id="insertAll">
        INSERT INTO trace_label (code, label_img, order_id, order_supplier_id, chain_status, tenand_id, creator_id,
                                 creator, create_time,  uuid,user_merchant)
        VALUES
        <foreach collection="entityList" item="entity" separator=",">
            (
             #{entity.code},
             #{entity.labelImg},
             #{entity.orderId},
             #{entity.orderSupplierId},
             #{entity.chainStatus},
             #{entity.tenandId},
             #{entity.creatorId},
             #{entity.creator},
             #{entity.createTime},
             #{entity.uuid},
             #{entity.userMerchant}
             )
        </foreach>
    </insert>
</mapper>
